.img {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}
.name {
  font-size: 30px;
  font-weight: 500;
  color: black;
}

.isOnline {
  color: green;
  font-size: 20px;
}

.isOffline {
  color: red;
  font-size: 20px;
}
